<p-menubar>
    <ng-template pTemplate="start">
        <h3>My Approvals</h3>
    </ng-template>
</p-menubar>
<p-scrollPanel [style]="{width: '100%', height: '80vh'}">
<ng-container *ngIf="myApprovalsService.approvals$ | async as approvals">
    
    <p-dataView [value]="approvals" layout="list">
        <ng-template let-approval pTemplate="listItem">
            
            <div class="p-col-12">
                <a [routerLink]="'/request/' + approval.RequestToApprove.id">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                    <div class="p-d-flex p-flex-column p-ml-2 p-mt-2 p-mb-3">
                        
                        <div class="p-text-bold">{{approval.RequestToApprove.description}}</div>
                    
                        <div>Company:{{approval.RequestToApprove.companyCode}}</div>
                    </div>
                    <div class="p-mt-3 p-mr-2">
                        <p-tag [severity]="approval.RequestToApprove.status === 'Submitted' ? 'info' : (approval.RequestToApprove.status === 'Pending' ? 'warning' : (approval.RequestToApprove.status === 'Rejected' ? 'danger' : 'success')) " >{{approval.RequestToApprove.status}}</p-tag>
                    </div>
                </div>
            </a>
            </div>
        
        </ng-template>
    </p-dataView>

</ng-container>
</p-scrollPanel>