<p-blockUI [blocked]="blocked">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</p-blockUI>
<div *ngIf="organizationStore.loading$ | async">
  <p>Loading....</p>
</div>
<ng-container *ngIf="organizationStore.organization$ | async as organization">
  <p-menubar>
    <ng-template pTemplate="start">
      <h3>Configuration</h3>
  </ng-template>
    <ng-template pTemplate="end">
        <p-button 
        label="Save" 
        icon="pi pi-save" 
        (onClick)="saveOrganization()"
        styleClass="p-button-outlined p-button-success">
    </p-button>
    </ng-template>    
</p-menubar> 
  <p-panel [header]="'Organization: ' + organization.name">

    <form [formGroup]="form" (ngSubmit)="saveOrganization()">
      <div class="p-field p-grid">
        <label for="orgId" class="p-col-fixed" style="width:100px">Id:</label>
        <div class="p-col">
          <input id="orgId" type="text" style="width:20em" formControlName="id" readonly pInputText>
        </div>
      </div>
      <div class="p-field p-grid">
        <label for="orgName" class="p-col-fixed" style="width:100px">Name:</label>
        <div class="p-col">
          <input id="orgName" type="text" style="width:20em" formControlName="name" pInputText>
        </div>
      </div>
    </form>
  </p-panel>
  <p-tabView>
    <p-tabPanel header="Companies">
    <p-table [value]="companyCodes" [scrollable]="true" scrollHeight="18em">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:13em">Code</th>
          <th>Description</th>
          <p-toolbar>
            <div class="p-toolbar-group-left"></div>
            <div class="p-toolbar-group-right">
              <p-button type="submit" icon="pi pi-plus" (onClick)="addCompany()" styleClass="p-button-success p-button-raised" class="p-mr-2">
              </p-button>
            </div>
          </p-toolbar>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-companyCode>
        <tr>
          <td style="width:13em">
            <input type="text" [(ngModel)]="companyCode.code" pInputText>
          </td>
          <td>
            <input type="text" [(ngModel)]="companyCode.description" pInputText style="width:20em">
          </td>
          <!-- <p-toolbar>
            <div class="p-toolbar-group-left"></div> -->
            <div class="p-d-flex p-jc-end">
              <p-button (onClick)="removeCompany(companyCode)" icon="pi pi-minus" styleClass="p-button-danger p-button-outlined" class="p-mr-4 p-mt-2">
              </p-button>
            </div>
          <!-- </p-toolbar> -->
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="summary">

      </ng-template> -->
    </p-table>
  </p-tabPanel>
  </p-tabView>
</ng-container>
<p-toast position="bottom-center" key="organization"></p-toast>