<p-blockUI [blocked]="blocked">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</p-blockUI>
<ng-container #request *ngIf="organizationStore.companyCodes$ | async ">
    <p-menubar [style]="{'width':'80vw'}">
        <ng-template pTemplate="start">
            <h3>New Request</h3>
        </ng-template>
        <ng-template pTemplate="end">
            <p-button label="Save" icon="pi pi-save" (onClick)="saveRequest()" [disabled]="locked"
                styleClass="p-button-outlined p-button-success">
            </p-button>
        </ng-template>
    </p-menubar>
    <p-panel header="Request: ( {{ organizationStore.organization.name }} )">
        <form [formGroup]="form">
            <div class="p-field p-grid">
                <label for="companyCode" class="p-col-fixed" style="width:10em">Company Code:</label>
                <div class="p-col">
                    <p-dropdown id="companyCode" [options]="companyCodes" name="companyCode" dataKey="code"
                        optionLabel="description" formControlName="companyCode" (onChange)="updateCompanyCode()">
                    </p-dropdown>
                </div>
            </div>
            <div class="p-field p-grid">
                <label for="description" class="p-col-fixed" style="width:10em">Description:</label>
                
                    <div class="p-d-flex p-flex-column">
                        <div class="p-col">
                        <textarea id="description" rows="2" cols="60" pInputTextarea [autoResize]="false"
                            formControlName="description"
                            [ngClass]="{'ng-invalid ng-dirty':this.form.controls.description.touched && this.form.controls.description.status == 'INVALID'}">
                        </textarea>
                    </div>
                        <small 
                            *ngIf="this.form.controls.description.touched && this.form.controls.description.status == 'INVALID'"
                            class="p-error p-ml-2">Description is required.
                        </small>
                    
                    </div>
                
            </div>
        </form>
        <h4>Attachments</h4>
        <p-fileUpload name="attachments[]" [auto]="true" [multiple]="true" [maxFileSize]="1500000" [customUpload]="true"
            (uploadHandler)="onUpload($event)">
            <ng-template pTemplate="file">

            </ng-template>
            <ng-template pTemplate="content">
                <div *ngIf="uploading">
                    <p-progressBar [value]="uploadProgress"></p-progressBar>
                </div>
                <div *ngFor="let attachment of attachments" class="p-col-12">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
                        <div class="p-d-flex">
                            <i class="pi pi-file-pdf p-mr-2" style="font-size: 1.5rem"></i>
                            <div>{{attachment.fileName}}</div>
                        </div>
                        <p-button icon="pi pi-search" styleClass="p-button-outlined" pTooltip="View attachment"
                            (onClick)="viewAttachment(attachment)"></p-button>
                    </div>
                </div>
            </ng-template>
        </p-fileUpload>
    </p-panel>
</ng-container>
<p-toast position="bottom-center" key="request"></p-toast>